.hour {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 13px;
  border-radius: 3px;
  border: 2px solid black;
  width: 80px;
  font-size: small;
  padding-top: 0px;
  align-items: center;
}

.selected {
  border: 4px solid blueviolet;
}
