@if(loading){
    <app-process-indicator></app-process-indicator>
} @else {
    <div class="centered">
        <h1>Event calendar of {{event?.eventName}}</h1>
    </div>
    <div class="flexRow fillSpace">
        @if(isUserEventOwner()){
        <mat-card>
            <mat-card-header>
                <mat-card-title>Organizer actions</mat-card-title>
            </mat-card-header>
            <mat-card-content>
    
                <button mat-raised-button (click)="editCalendar()" [disabled]="editMode != EditMode.DEFAULT">Edit
                    calendar</button>
                @if(editMode == EditMode.EDIT) {
                <button mat-raised-button class="mainaction" (click)="exitEditMode(true)">Exit and save</button>
                <button mat-raised-button class="mainaction" (click)="exitEditMode(false)">Exit and discard changes</button>
                <button mat-raised-button (click)="disableHoursPeriodically()">Disable hours periodically</button>
                }
                <button mat-raised-button (click)="startAndEnd()" [disabled]="editMode != EditMode.DEFAULT">Set start and
                    end hour</button>
                <button mat-raised-button (click)="openGetBestTimeIntervalsDialog()"
                    [disabled]="editMode != EditMode.DEFAULT">Get best time intervals</button>
            </mat-card-content>
        </mat-card>
        @if(editMode == EditMode.SHOW_BEST){
        <mat-card>
            <mat-card-header>
                <mat-card-title>Best Time intervals</mat-card-title>
            </mat-card-header>
            <div class="flexCol">
                @if(bestIntervals.length == 0){
                <div class="flexRow">No such time intervals found</div>
                } @else {
                @for(interval of bestIntervals; track interval){
                <div class="flexRow">
                    <button mat-raised-button (click)="showTimeInterval(interval)"><mat-icon>pageview</mat-icon> display</button>
                    <div class="verticalCenter">
                    {{interval.hourSerial | startAndEndHourPipe : this.event!.calendar!}} - {{interval.hourSerial +
                    interval.length | startAndEndHourPipe : this.event!.calendar! }} |   participants:
                    {{interval.participantNumber}} length: {{interval.length}} hours
                    </div>
                </div>
                }
            }
            </div>
            <button mat-raised-button (click)="exitSHowBestMode()">Exit</button>
        </mat-card>
        }
        }
        <mat-card>
            <mat-card-content>
                <div class="flexCol">
                    <div class="flexRow aligned">
                        <b>Start hour</b>
                        <div class="group">{{calendar!.starthour | startAndEndHourPipe : calendar!}}</div>
                    </div>
                    <div class="flexRow aligned">
                        <b>End hour</b>
                        <div class="group">{{calendar!.endhour | startAndEndHourPipe : calendar!}}</div>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
        <mat-card>
            <mat-card-header>
                <mat-card-title>Opinions</mat-card-title>
            </mat-card-header>
            <mat-card-content class="spaced">
                <div class="flexCol">
                    <h3>Add opinions fast</h3>
    
                    <form [formGroup]="opinonForm">
                        <mat-form-field id="opinion">
                            <mat-label>Select the opinion</mat-label>
                            <mat-select formControlName="opinion" [disabled]="opinionMode!=OpinionMode.DEFAULT">
                                <mat-option [value]="OpinionMode.GOOD">
                                    good
                                </mat-option>
                                <mat-option [value]="OpinionMode.TOLERABLE">
                                    tolerable
                                </mat-option>
                                <mat-option [value]="OpinionMode.BAD">
                                    bad
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </form>
    
                    <button mat-raised-button [ngClass]="{'inverted': opinionMode != OpinionMode.DEFAULT}"
                        (click)="opinionModeChanged()">
                        @if(opinionMode==OpinionMode.DEFAULT){
                        start
                        }@else{
                        finish
                        }
                    </button>
    
                </div>
                <div class="centered" id="saveButton">
                    <button mat-raised-button [disabled]="changedOpinions.size==0" (click)="updateOpinions()"> Save
                        opinions</button>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
    @for(week of this.weeks; track week){
    <div class="week">
        @for(day of week; track day){
        <app-day
            [day]="day!"
            [editMode]="editMode"
            [participantNumber]="event!.participants!.length"
            [opinionMode]="opinionMode"
            [$showTimeInterval]="$showTimeIntervals"
            (dayChanged)="dayChanged($event)"
            (opinionsSet)="opinionsChanged($event)"
            (dayHoursChanged)="hourChanged($event)"
            (hourSelected)="selectHour($event)">
        </app-day>
        }
    </div>
    }
}