.week {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 10px;
}

.mainaction {
  background-color: blueviolet;
  color: white;
}

mat-card-content {
  display: flex;
  flex-direction: row;
}

mat-card-content * {
  margin: 2px;
}

mat-card {
  border: solid rgb(203, 177, 229);
  margin: 10px;
  width: 100%;
}

.inverted {
  background-color: black;
  color: white;
}

.fillSpace {
  width: 100%;
}

#saveButton {
  align-items: center;
}
