<mat-card class="daydiv">
    @if(day != null){
    <mat-card-header class="centered"> <b>{{day.dayStartTime.toDateString()}}</b></mat-card-header>

    <mat-card-content>
        <div class="centered">
            @if(editMode){

            @if(day.enabled){
            <button mat-stroked-button class="disable" (click)="disableDay()">disable</button>
            } @else {
            <button mat-stroked-button class="enable" (click)="enableDay()">enable</button>
            }

            } @else {
            <button mat-stroked-button (click)="addOpinion()"
                [disabled]="opinionMode==OpinionMode.DEFAULT">Select</button>
            }
        </div>

    </mat-card-content>

    <div class="centered">
        <div class="flexCol" id="hourcontainer">
            @if(day.enabled){
            @for(hour of this.day.hours; track hour){
            <app-hour [hour]="hour" [editMode]="editMode" [participantNumber]="participantNumber"
                [date]="day.dayStartTime" [opinionMode]="opinionMode" [wholeDayChanged]="wholeDayChanged"
                (opinionSet)="opinionSet($event)" (hourChanged)="hourChanged(hour)">
            </app-hour>
            }
            } @else{
            <p>day is disabled</p>
            }
        </div>
    </div>
    }
</mat-card>