<div id=formcontainer>
  <form id="form" [formGroup]="createEventForm">
    <mat-form-field id="name">
      <mat-label>Give the event a name</mat-label>
      <input matInput placeholder="event name" formControlName="name" required />
      @if (createEventForm.controls["name"].invalid) {
      <mat-error>enter at least 8 characters</mat-error>
      }
    </mat-form-field>

    <mat-form-field id="description">
      <mat-label>Add a description</mat-label>
      <textarea matInput placeholder="description" formControlName="description" required></textarea>
      @if (createEventForm.controls["description"].invalid) {
      <mat-error>enter at least 8 characters</mat-error>
      }
    </mat-form-field>
  </form>
  <button mat-button (click)="createEvent()" [disabled]="!createEventForm.valid">create event</button>
</div>