.process-indicator-container{
    align-items: center;
}

.process-indicator{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-top: 100px;
    background-image: linear-gradient(red, blueviolet);
    animation: spin 1s linear infinite;
}

.white-circle{
    border-radius: 50%;
    width: 120px;
    height: 120px;
    position: absolute;
    background-color: white;
}

@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}