<mat-toolbar class="toolbar">
  <button mat-button [routerLink]="['/']">
    Home
    <mat-icon>home</mat-icon>
  </button>
  <button mat-button [mat-menu-trigger-for]="menu">
    Events
    <mat-icon>event</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item [routerLink]="['/create-event']">
      Create new event
      <mat-icon>add</mat-icon>
    </button>
    <button mat-menu-item [routerLink]="['/join-event']">
      Join event
      <mat-icon>more</mat-icon>
    </button>
    <button mat-menu-item [routerLink]="['/my-events']">
      List my events
      <mat-icon>list</mat-icon>
    </button>
  </mat-menu>
  <button mat-button [matMenuTriggerFor]="profile">
    Profile
    <mat-icon>account_circle</mat-icon>
  </button>
  <mat-menu #profile="matMenu">
    @if(getAuthStatus()==AuthStatus.LOGGED_OUT){
    <button mat-menu-item [routerLink]="['/signup']">
      Sign up
      <mat-icon>input</mat-icon>
    </button>
    <button mat-menu-item [routerLink]="['/login']">
      Log in
      <mat-icon>lock_open</mat-icon>
    </button>
  }
  @if(getAuthStatus()==AuthStatus.LOGGED_IN){
    <button mat-menu-item>
      profile
      <mat-icon>person</mat-icon>
    </button>
    <button mat-menu-item (click)="openDialog()">
      Log out
      <mat-icon>keyboard_tab</mat-icon>
    </button>
  }
  </mat-menu>
</mat-toolbar>
@if(this.url()=="/"){
  <div id="duerer"></div>
}
<router-outlet></router-outlet>
