<div id=formcontainer>
  <form id="form" [formGroup]="signupform">
    <mat-form-field id="username">
      <mat-label>Enter your username</mat-label>
      <input matInput placeholder="username" formControlName="username" required />
      @if (signupform.controls["username"].invalid) {
      <mat-error>enter at least 8 characters</mat-error>
      }
    </mat-form-field>

    <mat-form-field id="email">
      <mat-label>Enter your email</mat-label>
      <input type="email" matInput placeholder="email" formControlName="email" required />
      @if (signupform.controls["email"].invalid) {
      <mat-error>enter a valid email address</mat-error>
      }
    </mat-form-field>

    <mat-form-field id="password">
      <mat-label>Enter your password</mat-label>
      <input type="password" matInput placeholder="password" formControlName="password" required />
      @if (signupform.controls["password"].invalid) {
      <mat-error>enter at least 8 characters</mat-error>
      }
    </mat-form-field>

    <mat-form-field id="confirm">
      <mat-label>Confirm your password</mat-label>
      <input type="password" matInput placeholder="password" formControlName="confirmedPassword" required />
      @if (signupform.controls["confirmedPassword"].invalid) {
      <mat-error>The passwords don't match</mat-error>
      }
    </mat-form-field>
  </form>
  <button mat-button (click)="signUp()" [disabled]="!signupform.valid">Sign up</button>
</div>