<h2 mat-dialog-title>Disable hours periodically</h2>
<mat-dialog-content>
  <form id="form" [formGroup]="periodForm">
    <mat-form-field id="hours">
      <mat-label>Select the hours</mat-label>
      <mat-select formControlName="hours" multiple>
        @for(hour of this.hours; track hour){
        <mat-option [value]="hour">
          {{ hour|numberToHour }}
        </mat-option>
        }
      </mat-select>
      @if (periodForm.controls["hours"].invalid) {
      <mat-error>Please select the hours to disable them.</mat-error>
      }
    </mat-form-field>
    <mat-form-field id="period">
      <mat-label>Select the pattern of repetition</mat-label>
      <mat-select formControlName="period">
        <mat-option [value]="1">
          daily
        </mat-option>
        <mat-option [value]="7">
          weekly
        </mat-option>
      </mat-select>
      @if (periodForm.controls["period"].invalid) {
      <mat-error>Please select a pattern</mat-error>
      }
    </mat-form-field>
    @if(periodForm.controls["period"].value == 7) {
    <mat-form-field id="day">
      <mat-label>Select the day of the week</mat-label>
      <mat-select formControlName="day">
        <mat-option [value]="0">Monday</mat-option>
        <mat-option [value]="1">Tuesday</mat-option>
        <mat-option [value]="2">Wednesday</mat-option>
        <mat-option [value]="3">Thursday</mat-option>
        <mat-option [value]="4">Friday</mat-option>
        <mat-option [value]="5">Saturday</mat-option>
        <mat-option [value]="6">Sunday</mat-option>
      </mat-select>
      @if (periodForm.controls["day"].invalid) {
      <mat-error>Please select a day of the week</mat-error>
      }
    </mat-form-field>
    }
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="onOkClick()" [disabled]="!periodForm.valid">OK</button>
  <button mat-button (click)="onNoClick()">Cancel</button>
</mat-dialog-actions>